<a href="https://colab.research.google.com/github/Sumaia45/100-days-of-code/blob/master/Lab_1_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python basics

In [5]:
x = 4

In [6]:
y = 1

In [7]:
x + y

5



Here are a few operators which are commonly used for computation in Python

| Operator | Usage           | Example | Answer |
|----------|------------------|---------|--------|
| +        | addition         | 1 + 2   | 3      |
| -        | subtraction      | 9 - 3   | 6      |
| /        | division         | 7/2     | 3.5    |
| //       | integer division | 7/2     | 3      |
| %        | modulus          | 7%3     | 1      |
| **       | exponentiation   | 3**2    | 9      |



Common data types in Python 

| Type    | Example     | 
|---------|-------------|
| integer | 5           |
| float   | 5.0         | 
| strings | '5'         | 
| boolean | True/False  |

In [8]:
# Multiply an integer with a float
100.1 * 6

600.5999999999999

In [9]:
# assign a variable & then do some calculaton
scaler = 5
result = 0.999 * scaler / 10
result

0.4995

In [10]:
# multiple variable assignments
x,y = 10,-10

In [11]:
x **2 - y**2

0

In [12]:
# compare values to get a boolean result
1 == 2

False

In [13]:
check = 'NYC' == 'SF'
print('Is NYC same as SF? ', check)

Is NYC same as SF?  False

In [14]:
# check if a value is in a python list
lis = [1, 3, 5, 7, 9]

target = 10

for i in lis: 
  print(i == target)

False
False
False
False
False

In [15]:
# data value may look the same, but data type is differnet 

100 == '100'

False

In [16]:
# but integer and float of the same value are equal

100 == 100.0

True

In [17]:
type(100)

int

In [18]:
type('100')

str

In [19]:
type(100.0)

float

In [20]:
# change data type

float('100.0') == 100.0

True

In [21]:
# use '= ' to assign value; use '==' to compare values

var2 = 'I love NYC'
print(var2)

'I love NYC' == 'I love SF'

I love NYC

False

In [23]:
# be careful if you want to put different types of data together

print('I have '  + ' books on my desk')

I have  books on my desk

In [24]:
# you can change the data type by casting 

print('I have ' + str(3) + ' books on my desk')

I have 3 books on my desk

In [32]:
# python variable is case sensitive

fruit1= 'apple'
print(fruit1) # won't print

apple

In [33]:
# single & double quotes

school_1 = 'LAGCC'
school_2 = "CUNY"

print(school_1)
print(school_2)

LAGCC
CUNY

In [35]:
# single & double quotes are interchangeble, with the exception of apostrophe  

print('If you use single quotes in a string with an apostrophe, it wont print')

If you use single quotes in a string with an apostrophe, it wont print

In [36]:
# but you can fix it by using double quotes as the wrapper

print("If you use double quotes in a string with an apostrophe, it won't give you a problem")

If you use double quotes in a string with an apostrophe, it won't give you a problem

#### Try it on your own

In [37]:
# Q. calculate the area for a circle with a radius of 5.5

In [38]:
# Q. there are 12 slices of pizza and 5 people in the room, if each takes 2 slices then how many slices will be left?

In [39]:
# here is restaunt bill breakdown

charge = 120.0 # cost for our food
tip_percentage = 0.2 # 20%
sentence = 'for dinner, we have spent a total of $' 

# Q. please calculate the total cost for the dinner bill and print out the complete sentence

print()

Here are some Python comparison operators

| Operator | Usage            | 
|----------|------------------|
| ==        | equal           | 
| !=        | not equal       | 
| >        | greater than     |
| <       | less than | 7/2   |
| >=        | greater than or equal than|
| <=       | less than or equal to |

In [40]:
print(1==1)
print('apples' != 'oranges')
print(100.1 >= 100.0)
print(1 < 2)
print (3.14 ** 2 >= 3.14 ** 2) 
print(0.001 <= 0.1)

True
True
True
True
True
True

In [41]:
# use comment with a '#' to annotate your code or prevent a line of code from executing

print('this will run')

#print('this will not run')

this will run

In [42]:
# this is a python list: a collection which is ordered and changeable and allows duplicates

mylist = ["apple", "banana", "cherry"]
mylist

['apple', 'banana', 'cherry']

In [43]:
# add something to the list
mylist.append('orange')
mylist

['apple', 'banana', 'cherry', 'orange']

In [44]:
# remove someting from a list

mylist.remove('apple')
mylist

['banana', 'cherry', 'orange']

In [45]:
# use for loop with a python list

for fruit in mylist:
  print(fruit)

banana
cherry
orange

In [46]:
# add if-else with loops and list

mylist = ["apple", "banana", "cherry"]*2


# let's use a for loop to find how many cherry are there in our list

for fruit in mylist:
  if fruit == 'cherry':
    print('bingo!')
  else:
    print('not cherry')

not cherry
not cherry
bingo!
not cherry
not cherry
bingo!

In [47]:
# for loop is useful when you want to select and compute a long list of numbers

# add all even number in a long number list

total = 0 
for num in range(1000001):
  if num % 2 == 0:
    total = total + num

total

250000500000

In [48]:
# use a while loop to execute a set of statements as long as a condition is true

# add numbers up as long as the running numbers are less than 100 but bigger than 0

current_num = 0
total = 0

while current_num <= 100:
  total = total + current_num
  current_num = current_num + 1

total

5050

In [49]:
# a basic function without an argument

def function1(): # no any argument in the parenthesis
  print('I love data')

function1() # call the function to execute

I love data

In [50]:
# a function with an argument

def function2(value): # one argument called value
  print('I love', str(value))

function2('NYC') # call the function to execute

I love NYC

In [51]:
# a function with multiple value 

def function3(num, n_power): # on eargument called value
  result = num ** n_power
  return result             # use 'return' to yield the outcome after running the process


# call the function

function3(10, 3)

1000

#### Try it on your own

In [57]:
# Q. please write a function that can change change celsius to fahrenheit

celsius = float(input("Enter temperature in celsius: "))
fahrenheit = (celsius * 9/5) + 32
print('%.2f Celsius is: %0.2f Fahrenheit' %(celsius, fahrenheit))

Enter temperature in celsius: 3
3.00 Celsius is: 37.40 Fahrenheit

In [55]:
# Q. create a python list and store all the odd numbers from 1 to 1000 in it

In [58]:
maximum = int(input(" Please Enter any Maximum Value : "))

for number in range(1, maximum + 1):
    if(number % 2 != 0):
        print("{0}".format(number))

 Please Enter any Maximum Value : 1000
1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99
101
103
105
107
109
111
113
115
117
119
121
123
125
127
129
131
133
135
137
139
141
143
145
147
149
151
153
155
157
159
161
163
165
167
169
171
173
175
177
179
181
183
185
187
189
191
193
195
197
199
201
203
205
207
209
211
213
215
217
219
221
223
225
227
229
231
233
235
237
239
241
243
245
247
249
251
253
255
257
259
261
263
265
267
269
271
273
275
277
279
281
283
285
287
289
291
293
295
297
299
301
303
305
307
309
311
313
315
317
319
321
323
325
327
329
331
333
335
337
339
341
343
345
347
349
351
353
355
357
359
361
363
365
367
369
371
373
375
377
379
381
383
385
387
389
391
393
395
397
399
401
403
405
407
409
411
413
415
417
419
421
423
425
427
429
431
433
435
437
439
441
443
445
447
449
451
453
455
457
459
461
463
465
467
469
471
473
475
477
479
481
483
485
487
489
491
493
495
497
499
501
503
505
507
509
511
513
515
517
519
521
523
525
527
529
531
533
535
537
539
541
543
545
547
549
551
553
555
557
559
561
563
565
567
569
571
573
575
577
579
581
583
585
587
589
591
593
595
597
599
601
603
605
607
609
611
613
615
617
619
621
623
625
627
629
631
633
635
637
639
641
643
645
647
649
651
653
655
657
659
661
663
665
667
669
671
673
675
677
679
681
683
685
687
689
691
693
695
697
699
701
703
705
707
709
711
713
715
717
719
721
723
725
727
729
731
733
735
737
739
741
743
745
747
749
751
753
755
757
759
761
763
765
767
769
771
773
775
777
779
781
783
785
787
789
791
793
795
797
799
801
803
805
807
809
811
813
815
817
819
821
823
825
827
829
831
833
835
837
839
841
843
845
847
849
851
853
855
857
859
861
863
865
867
869
871
873
875
877
879
881
883
885
887
889
891
893
895
897
899
901
903
905
907
909
911
913
915
917
919
921
923
925
927
929
931
933
935
937
939
941
943
945
947
949
951
953
955
957
959
961
963
965
967
969
971
973
975
977
979
981
983
985
987
989
991
993
995
997
999

In [54]:
# Q. write a function or just use some if-else statement to figure how many prime numbers are there between 100 and 200

In [59]:
lower = 100
upper = 200

print("Prime numbers between", lower, "and", upper, "are:")

for num in range(lower, upper + 1):
   # all prime numbers are greater than 1
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)

Prime numbers between 100 and 200 are:
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199

### END OF THIS LAB1